.chatroom{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: fit-content;
}

.chatroom .main-text{
    position: relative;
    width: 80%;
    max-width: 960px;
    height: fit-content;
    margin: 0 auto;
    color: var(--mainblue);
}

.chatroom .main-text h1{
    width: fit-content;
    height: fit-content;
    margin: 3.125rem auto;
    font-size: 2.5rem;
    font-weight: normal;
    background-image: url('../img/Pages/7\ 相關服務/a_140x40.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.chatroom .main-text p{
    margin: 50px auto;
    font-size: 1.3rem;
    font-family: 'GenJyuuGothic';
    line-height: 1.6;
    text-align: center;
    height: fit-content;
}

.chatroom .main-text p span::before{
    content: "\A";
    display: block;
}

@media screen and (max-width: 768px){
    .chatroom .main-text p span::before{
        content:" ";
        display: none;
    }
}

.chatroom .chat-container{
    position: relative;
    width: 80%;
    max-width: 960px;
    height: fit-content;
    margin: 0 auto;
    color: var(--mainblue);
    font-family: "GenJyuuGothic";
    font-size: 1rem;
}

.chatroom .chat-container .messages-container{
    position: relative;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    width: 100%;
    height: 30rem;
    background-color: rgba(0,0,0,0.05);
    border-radius: 1rem;
}

.chatroom .chat-container .message-container .loader{
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    border-radius: 1rem;
    align-self: center;
    justify-self: center;
    background-color: pink;
}

.chatroom .chat-container .messages-container .message{
    width: fit-content;
    height: fit-content;
    max-width: 60%;
    margin: 0.1rem 0;
    padding: 0.5rem;
    border-radius: 1rem;
}

.chatroom .chat-container .messages-container .message span::before{
    content: "\A";
    display: block;
}

.chatroom .chat-container .messages-container .message span{
    display: block;
    font-size: 0.5rem;
    color: rgba(0,0,0,0.5);
}

.chatroom .chat-container .messages-container .message.right span{
    text-align: end;
}

.chatroom .chat-container .messages-container .message.left span{
    text-align: start;
}

.chatroom .chat-container .messages-container .message.right{
    background-color: #d88c57;
    align-self: flex-end;
}

.chatroom .chat-container .messages-container .message.left{
    background-color: lightgrey;
    align-self: flex-start;
}

.chatroom .chat-container .input-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    margin: 1rem 0;
}

.chatroom .chat-container .input-container #msg-input{
    width: calc(100% - 3.5rem);
    font-size: 1rem;
    border-style: none;
    background-color: rgba(0,0,0,0.05);
    border-radius: 2rem;
    padding: 0 1.5rem;
}

.chatroom .chat-container .input-container #msg-input:focus,
.chatroom .chat-container .input-container #submit-btn:focus{
    outline:none;
}

.chatroom .chat-container .input-container #submit-btn{
    width: 3rem;
    height: 3rem;
    border-style: none;
    background-color: transparent;
    color: grey;
    cursor: pointer;
}

.chatroom .chat-container .input-container #submit-btn span{
    font-size: 2rem !important;
}



