/* unopened menu button style  */
@media screen and (max-width: 576px){
    .menu-btn-container{
        display: none;
    }
}

.menu-btn-container .menu-btn img{
    width: 30px;
    position: absolute;
    right: 20px;
    top: calc(50vh - 15px);
    z-index: 1;
}

.menu-btn-container .background{
    position: absolute;
    top: calc(50vh - 250px);
    right: -40px;
    height: 500px;
    
}

/* Opened side menu style */

@keyframes slidein{
    0% {
        transform: translateX(0);
    }
    10%{
        transform: translateX(-50vw);
    }
    100%{
        transform: translateX(-150vw);
    }
}

@keyframes slideout{
    0% {
        transform: translateX(-150vw);
    }
    90%{
        transform: translateX(-50vw);
    }
    100%{
        transform: translateX(0);
    }
}

.menu-content.opened{
    animation: slidein 0s forwards;
}

.menu-content:not(.opened){
    animation: slideout 0s forwards;
}

.menu-content{
    position: fixed;
    top: 0;
    left: 150vw;
    z-index: 2;
    background-color: var(--mainblue);
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
}

.menu-nav {
    top: 0;
    width: calc(100% - 40px);
    height: 80px;
    padding: 20px 20px 0 20px;
    background-color: none;
}

.menu-nav a.nav-logo{
    position: relative;
    display: inline-flex;
    float: left;
    text-decoration: none;
    width: fit-content;
    height: 80px;
    align-items: center;
    margin: -15px 0 0 0;
}

.menu-nav .nav-logo .front{
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 5px;
}

.menu-nav .nav-logo::after{
    content: " ";
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    left: 0;
    background-image: url('../img/header/flicker-box.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.menu-nav .nav-name{
    position: relative;
    display: inline-block;
    font-size: 2rem;
    width: fit-content;
    color: white;
    margin: 0;
}

@media screen and (max-width: 540px){
    .menu-nav .nav-name{
        display: none;
    }
}

.menu-nav .nav-items-container{
    position: relative;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-nav .nav-items-container .nav-item{
    float: right;
    text-align: center;
}

.menu-nav .nav-item.mobile a{
    display: none;
}

@media screen and (max-width: 576px){
    .menu-nav .nav-item.mobile a{
        display: block;
    }
}

.menu-nav .nav-item .chat-btn{
    display: block;
    width: 5.5rem;
    height: 3.75rem;
    background-image: url('../img/menu\ bar/chat-button-slide-menu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.menu-nav .nav-item a:not(.chat-btn){
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
    padding: 0.5rem 0;
    text-decoration: none;
    justify-self: start;
    color: white;
}

.menu-nav .nav-item:last-child{
    margin: 0;
}

.menu-content .menu-btn img{
    width: 30px;
    position: absolute;
    right: 20px;
    top: calc(50vh - 15px);
    z-index: 1;
}

.menu-content .menu-btn-background{
    position: absolute;
    z-index: 0;
    top: calc(50vh - 250px);
    right: -40px;
    height: 500px;
}

@media screen and (max-width: 576px){
    .menu-content .menu-btn,
    .menu-content .menu-btn-background{
        display: none;
    }
}

ul.menu-links{
    position: relative;
    height: fit-content;
    width: fit-content;
    padding: 20vh 10vw;
    margin: 0;
    font-size: 5rem;
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 5%;
}

.menu-links .link{
    width: 3em;
    padding: 0;
    margin: 0;
}

.menu-links .link a{
    text-decoration: none;
    color: white;
    font-size: 0.6em;

}

.menu-links .link a .fa-caret-down{
    margin: 0 10px;
}

.menu-links .link .mobile-dropdown-trigger{
    display: none;
    position: absolute;
    top: 1.8rem;
    right: 0;
    margin: 0 10px;
    z-index: 2;
}

@media screen and (max-width: 610px){
    ul.menu-links{
        margin: 0 auto;
        padding: 20vh 0;
    }
}

@media screen and (max-width: 576px){
    ul.menu-links{
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
        padding: 0;
    }

    .menu-links .link{
        height: fit-content;
        position: relative;
    }

    .menu-links .link a .fa-caret-down{
        position: absolute;
        top: 1.8rem;
        right: 0;
        margin: 0 10px;
    }

    .menu-links .link .mobile-dropdown-trigger{
        display: block;
    }


}

/* Dropdown menu styles */

.dropdown-trigger:hover .dropdown-menu{
    opacity: 1;
}

ul.dropdown-menu{
    position: absolute;
    left: 10vw; 
    top: calc(20vh + 3em);
    list-style: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

@media screen and (max-width: 610px) {
    ul.dropdown-menu{
        left: 0;
    }
}

@media screen and (max-width: 576px){
    ul.dropdown-menu{
        position: relative;
        top: 0;
        height: 0;
        opacity: 1;
        transition: height 0.5s ease-in-out;
        overflow: hidden;
    }

    ul.dropdown-menu.opened{
        height: calc(6rem + 30px);
    }
}

.dropdown-menu .dropdown-link{
    display: flex;
    height: 2rem;
    margin-top: 10px;
}

.dropdown-menu .dropdown-link a{
    display: inline-block;
    font-size: 1.5rem;
}

