/* unopened menu button style  */
.menu-btn-container .menu-btn img{
    width: 30px;
    position: absolute;
    right: 20px;
    top: calc(50vh - 15px);
    z-index: 1;
}

.menu-btn-container .background{
    position: absolute;
    top: calc(50vh - 250px);
    right: -40px;
    height: 500px;
    
}

/* Opened side menu style */

@keyframes slidein{
    0% {
        transform: translateX(0);
    }
    10%{
        transform: translateX(-50vw);
    }
    100%{
        transform: translateX(-150vw);
    }
}

@keyframes slideout{
    0% {
        transform: translateX(-150vw);
    }
    90%{
        transform: translateX(-50vw);
    }
    100%{
        transform: translateX(0);
    }
}

.menu-content.opened{
    animation: slidein 0s forwards;
}

.menu-content:not(.opened){
    animation: slideout 0s forwards;
}

.menu-content{
    position: fixed;
    top: 0;
    left: 150vw;
    z-index: 2;
    background-color: var(--mainblue);
    width: 100vw;
    height: 100vh;
}

a.logo{
    text-decoration: none;
}

.logo .background{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 20px;
}

.logo .front{
    position: absolute;
    width: 80px;
    height: 80px;
    left:  25px;
    top: 8px;
    z-index: 1;
}

.logo .name{
    position: relative;
    display: inline-block;
    left: 110px;
    font-size: 2rem;
    width: fit-content;
    color: white;
}

.chat-btn{
    height: 60px;
    position: absolute;
    top: 20px;
    right: 40px;
}

.nav-item.fa{
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 30px;
}

.fa-facebook{
    right: 140px;
}

.fa-instagram{
    right: 180px;
}

.menu-content .menu-btn img{
    width: 30px;
    position: absolute;
    right: 20px;
    top: calc(50vh - 15px);
    z-index: 1;
}

.menu-content .menu-btn-background{
    position: absolute;
    z-index: 0;
    top: calc(50vh - 250px);
    right: -40px;
    height: 500px;
}

ul.menu-links{
    padding-top: 20vh;
    padding-left: 10vw;
    width: fit-content;
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.menu-links .link{
    height: 5rem;
    width: 300px;
}

.menu-links .link a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    margin:20px 20px;

}

.menu-links .link a .fa-caret-down{
    margin: 0 10px;
}

/* Dropdown menu styles */

.dropdown-trigger:hover .dropdown-menu{
    opacity: 1;
}

ul.dropdown-menu{
    position: absolute;
    left: 10vw; 
    top: calc(120px + 20vh + 14rem);
    list-style-type: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.dropdown-menu .dropdown-link{
    height: 2.5rem;
}

.dropdown-menu .dropdown-link a{
    font-size: 1.5rem;
}
