.chatroom{
    width: calc(100% - 15rem);
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 18% 78%;
    column-gap: 0.5rem;
    justify-content: space-evenly;
}

@media screen and (max-width: 992px){
    .chatroom{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .chatroom{
        grid-template-columns: 98%;
    }
}

.chatroom .call-container{
    position: relative;
    height: calc(var(--vh, 1vh) * 100 - 11.75rem);
    grid-row: 1 /span 1;
    grid-column: 2 / span 1;
    width: 100%;
    margin: 0.5rem 0;
    padding: 10rem 0 0.75rem 0;
    background-color: rgba(0,0,0,0.05); 
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px){
    .chatroom.queue-opened .call-container{
        display: none;
    }
    
    .chatroom .call-container{
        grid-column: 1 /span 1;
    }
}

.chatroom .call-container span{
    display: block;
    font-size: 20rem;
    color: white;
    text-align: center;
    align-items: center;
}

.chatroom .call-container h4{
    color: rgba(0, 0, 0, 0.5);
}

.chatroom .call-container textarea{
    width: calc(95% - 2rem);
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    border-radius: 1rem;
    border-style: none;
    font-size: 1.2rem;
    color: white;
    padding: 1rem;
    resize: none;
}

.chatroom .call-container textarea:focus{
    outline: none;
}

.chatroom .chat-container{
    position: relative;
    height: calc(var(--vh, 1vh) * 100 - 1rem);
    grid-row: 1 /span 1;
    grid-column: 2 / span 1;
    width: 100%;
    margin: 0.5rem 0;
    display: grid;
    grid-template-rows: calc(100% - 7rem) 3rem 3rem;
    row-gap: 0.5rem;
}

.chatroom .chat-container aside.emoji-picker-react{
    position: absolute !important;
    left: 0.5rem !important;
    bottom: 4rem !important;
}

.chatroom .chat-container .disconnect-msg{
    position: absolute;
    width: calc(100% - 2rem);
    height: fit-content;
    margin: 0;
    top: 0;
    left: 0;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    z-index: 10;
}

@media screen and (max-width: 600px){
    .chatroom.queue-opened .chat-container{
        display: none;
    }
    
    .chatroom .chat-container{
        display: grid;
        grid-column: 1 /span 1;
    }
}

.chatroom .chat-container .messages-container{
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 1.5rem);
    height: calc(100% - 3rem);
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    padding: 0.5rem 0.75rem 2.5rem 0.75rem;
    background-color: rgba(0,0,0,0.05); 
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.chatroom .chat-container .messages-container .message{
    width: fit-content;
    height: fit-content;
    max-width: 60%;
    margin: 0.1rem 0;
    padding: 0.5rem;
    border-radius: 1rem;
    overflow-wrap: break-word;
}

.chatroom .chat-container .messages-container .message span::before{
    content: "\A";
    display: block;
}

.chatroom .chat-container .messages-container .message span{
    display: block;
    font-size: 0.5rem;
    color: rgba(0,0,0,0.5);
}

.chatroom .chat-container .messages-container .message.right span{
    color: rgba(240, 240, 240, 0.5);
    text-align: end;
}

.chatroom .chat-container .messages-container .message.left span{
    text-align: start;
}

.chatroom .chat-container .messages-container .message.right{
    color: rgba(240, 240, 240, 1);
    background-color: var(--honolulublue);
    align-self: flex-end;
}

.chatroom .chat-container .messages-container .message.left{
    background-color: var(--iceberg);
    align-self: flex-start;
}

.chatroom .chat-container .messages-container .message.special{
    background-color: var(--prussianblue);
    align-self: center;
    color: white;
}

.chatroom .chat-container .messages-container .message.special span{
    display: none;
}

.chatroom .chat-container .special-char-container{
    position: relative;
    width: calc(99% - 4rem);
    padding: 0 2rem;
    height: 3rem;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    overflow-x: hidden;
    overflow-y: hidden;
}

.chatroom .chat-container .special-char-container .char-btn-container::-webkit-scrollbar{
    display: none;
}

.chatroom .chat-container .special-char-container .char-btn-container{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    column-gap: 0.3rem;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
}

.chatroom .chat-container .special-char-container .char-btn-container button{
    border-style: none;
    font-size: 1rem;
    width: fit-content;
    cursor: pointer;
    color: grey;
    background-color: rgba(0,0,0,0);
}

.chatroom .chat-container .special-char-container .char-btn-container button.stock-phrase{
    border-radius: 0.5rem;
    background-color: var(--darkskyblue);
    color: white;
}

.chatroom .chat-container .special-char-container .back-arrow{
    position: absolute;
    width: 1.5rem;
    left: 0;
    transform: translateY(0.8rem);
    padding: 0;
    font-size: 1rem;
    border-style: none;
    cursor: pointer;
    color: grey;
    background-color: rgba(0,0,0,0);
}

.chatroom .chat-container .special-char-container .forward-arrow{
    position: absolute;
    width: 1.5rem;
    right: 0;
    transform: translateY(-2.2rem);
    padding: 0;
    font-size: 1rem;
    border-style: none;
    cursor: pointer;
    color: grey;
    background-color: rgba(0,0,0,0);
}

.chatroom .chat-container .special-char-container .back-arrow span{
    transform: translateX(0.3rem);
}

.chatroom .chat-container .special-char-container .forward-arrow span{
    transform: translateX(-0.15rem);
}

.chatroom .chat-container .input-container{
    position: relative;
    width: 100%;
    height: 3rem;
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.chatroom .chat-container .input-container .typing-msg{
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin: 0;
    top: -6.5rem;
    left: 0;
    padding: 0.5rem 1rem;
    color: grey;
}

.chatroom .chat-container .to-new-msg-btn{
    position: absolute;
    top: -6.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #0d6efd;
    color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.chatroom .chat-container .to-new-msg-btn span{
    font-size: 1em;
    transform: translateY(10%);
}


.chatroom .chat-container .input-container #msg-input{
    width: calc(100% - 3.5rem);
    font-size: 1rem;
    border-style: none;
    background-color: rgba(0,0,0,0.2);
    border-radius: 2rem;
    padding: 0 1.5rem;
}

.chatroom .chat-container .input-container #msg-input:focus,
.chatroom .chat-container .input-container #submit-btn:focus,
.chatroom .chat-container .input-container #emoji-btn:focus{
    outline:none;
}

.chatroom .chat-container .input-container #submit-btn,
.chatroom .chat-container .input-container #emoji-btn{
    width: 3rem;
    height: 3rem;
    border-style: none;
    background-color: transparent;
    color: grey;
    cursor: pointer;
}

.chatroom .chat-container .input-container #submit-btn span,
.chatroom .chat-container .input-container #emoji-btn span{
    font-size: 2rem !important;
}

.chatroom .queue-container{
    position: relative;
    height: calc(var(--vh, 1vh) * 100 - 1rem);
    display: grid;
    grid-template-rows: 4rem calc(100% - 17.5rem) 12.5rem;
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
    background-color: rgba(0,0,0,0.3);
    border-radius: 1rem;
    margin: 0.5rem 0;
}

@media screen and (max-width: 600px){
    .chatroom .queue-container{
        display: none;
    }
    
    .chatroom.queue-opened .queue-container{
        display: grid;
    }
}

.chatroom .queue-container .main-text{
    width: 100%;
    height: fit-content;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    background-color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem 0;
}

.chatroom .queue-container .main-text .material-icons{
    font-size: 1.7rem;
    transform: translateY(0.3rem);
}

.chatroom .queue-container .clients-container{
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    margin: 0;
    padding: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.chatroom .queue-container .clients-container .queue-client{
    display: grid;
    grid-template-rows: 1.5rem calc(100% - 1.5rem);
    grid-template-columns: 2rem calc(100% - 2rem);
    width: 100%;
    max-height: 3rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 0.75rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    text-align: center;
}

.chatroom .queue-container .clients-container .queue-client.call-client{
    background-color:cyan;
}

.chatroom .queue-container .clients-container .queue-client.chat-client{
    background-color: greenyellow;
}

.chatroom .queue-container .clients-container .queue-client.assigned{
    background-color: var(--jonquil);
}

.chatroom .queue-container .clients-container .queue-client .material-icons{
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    align-self: center;
    color: black;
    font-size: 2rem!important;
}

.chatroom .queue-container .clients-container .queue-client .client-id{
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    text-overflow: hidden;
    overflow: hidden;
}

.chatroom .queue-container .clients-container .queue-client .client-id::after{
    content: "\A";
    display: block;
}

.chatroom .queue-container .clients-container .queue-client .enqueue-time{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: grey;
}

.chatroom .queue-container .buttons-container{
    width: calc(100% - 1rem);
    height: 12.5rem;
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.chatroom .queue-container .buttons-container label.toggle-switch{
    display: flex;
    column-gap: 0.5rem;
    position: relative;
    width: 100%;
    height: 1.5rem;
    color: white;
    font-size: 1rem;
    align-items: center;
}

@media screen and (max-width: 1050px) and (min-width: 600px){
    .chatroom .queue-container .buttons-container label.toggle-switch{
        font-size: 0.8rem;
    }
}



.chatroom .queue-container .buttons-container label.toggle-switch .slider{
    width: 2rem;
    height: 1rem;
    padding: 0.25rem;
    display: inline-block;
    border-radius: 1rem;
    background-color: lightgrey;
    cursor: pointer;
}

.chatroom .queue-container .buttons-container label.toggle-switch .slider::before{
    content: " ";
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.3s ease-in-out;
}

.chatroom .queue-container .buttons-container label.toggle-switch input[type="checkbox"]{
    display: none;
}

.chatroom .queue-container .buttons-container label.toggle-switch input[type="checkbox"]:checked + .slider{
    background-color: lightblue !important;
}

.chatroom .queue-container .buttons-container label.toggle-switch input[type="checkbox"]:checked + .slider::before{
    transform: translateX(100%);
}

.chatroom .queue-container .buttons-container button{
    height: 1.75rem;
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: white;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-column: 1 / span 2;
}

.chatroom .queue-container .buttons-container #start-btn{
    color: #43ff25;
}

.chatroom .queue-container .buttons-container #start-call-btn{
    color: #03989E;
}

.chatroom .queue-container .buttons-container #end-btn{
    color: #ff6969;
}

.chatroom .queue-container .buttons-container #start-btn:hover{
    color: black;
    background-color: #76ff60;
}

.chatroom .queue-container .buttons-container #start-call-btn:hover{
    color: black;
    background-color: #03989E;
}

.chatroom .queue-container .buttons-container #end-btn:hover{
    color: black;
    background-color: #ff6969;
}

.chatroom .queue-container .buttons-container #transfer-btn{
    color: #A9FFF7;
}

.chatroom .queue-container .buttons-container #transfer-btn:hover{
    color: black;
    background-color: #A9FFF7;
}

.chatroom .queue-container .buttons-container #start-btn:disabled,
.chatroom .queue-container .buttons-container #end-btn:disabled,
.chatroom .queue-container .buttons-container #start-call-btn:disabled,
.chatroom .queue-container .buttons-container #start-btn:disabled:hover,
.chatroom .queue-container .buttons-container #end-btn:disabled:hover,
.chatroom .queue-container .buttons-container #start-call-btn:disabled:hover,
.chatroom .queue-container .buttons-container #transfer-btn:disabled,
.chatroom .queue-container .buttons-container #transfer-btn:disabled:hover{
    background-color: white;
    color: lightgrey;
    cursor: default;
}

.chatroom .queue-toggle{
    position: absolute;
    display: none;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 5rem;
    background-color: var(--darkskyblue);
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    border: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0.4375rem 1.8125rem 0px;
    outline: 0;
    cursor: pointer;

}

.chatroom .queue-toggle span{
    font-size: 1.5rem;
}

@media screen and (max-width: 600px){
    .chatroom .queue-toggle{
        display: block;
    }
}


