.dashboard{
    width: calc(100% - 15rem);
    height: calc(var(--vh, 1vh) * 100 - 2rem);
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
}

@media screen and (max-width: 992px){
    .dashboard{
        width: 100%;
    }
}

.dashboard .welcome-text{
    margin: 0;
    width: 100%;
    height: fit-content;
    color: grey;
}

.dashboard .boxes-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: calc(50% - 1.5rem) calc(50% - 1.5rem);
    grid-template-rows: min(50%, 22rem) calc(50% - 3rem);
    column-gap: 3rem;
    row-gap: 3rem;
}

.dashboard .boxes-container .box{
    width: calc(80% - 2rem);
    max-width: 34.375rem;
    background-color: black;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.dashboard .boxes-container .current-shift{
    height: fit-content;
    align-self: end;
    justify-self: end;
    background-color: rgb(89, 212, 40);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.dashboard .boxes-container .next-shift{
    height: fit-content;
    align-self: end;
    justify-self: start;
    background-color: green;
    padding: 1.5rem;
}

.dashboard .boxes-container .chats-per-shift{
    height: calc(100% - 2rem);
    max-height: 25.5rem;
    align-self: start;
    justify-self: end;
    background-color: var(--honolulublue);
    padding: 1rem;
}

.dashboard .boxes-container .time-distribution{
    height: calc(100% - 2rem);
    max-height: 25.5rem;
    align-self: start;
    justify-self: start;
    background-color: var(--charcoal);
    padding: 1rem;
}

.dashboard .boxes-container .current-shift p,
.dashboard .boxes-container .next-shift p{
    color: white;
    margin: 0 0 1rem 0;
    font-size: 1.8rem;
    width: fit-content;
    height: fit-content;
}

.dashboard .boxes-container .current-shift .time,
.dashboard .boxes-container .next-shift .time{
    font-size: 3rem;
}