@font-face {
  font-family: 'TanukiPermanentMarker';
  src: url('fonts/TanukiMagic.ttf');
  font-weight: normal;
  font-style: normal;
}

html{
  --mainblue: #1a2c43;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  font-family: 'TanukiPermanentMarker', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
